body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Tajawal', sans-serif;
    background:
    linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
background-blend-mode: screen;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
